.realestate-post {
    
    .realestate-post__preview {
        display: grid;
        grid-template-columns: 50% 27% 23%;
        width: 693px;
        height: 86px;
        border: 1px solid rgba(0,0,0,0.1);
        background: #fff;
        cursor: pointer;

        .realestate-post__preview__first-section {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
            padding-right: 10px;
            column-gap: 20px;
            border-left: 1px solid rgba(0,0,0,0.1);

            .realestate-post__preview__first-section__main-image {
                width: 110px;
                height: 66px;
            }

            .realestate-post__preview__first-section__address {
                display: flex;
                flex-direction: column;
            }
        }

        .realestate-post__preview__second-section {
            border-left: 1px solid rgba(0,0,0,0.1);
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 20px;

            .realestate-post__info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        .realestate-post__preview__third-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            padding-left: 10px;
        }

        &:hover {
            box-shadow: 0 1px 6px 1px rgba(0,0,0,0.16);
        }
    }

    .realestate-post__fullview {
        width: 693px;
        border: 1px solid rgba(0,0,0,0.1);
        margin: 10px 0;

        .realestate-post__fullview__header {
            height: 137px;
            display: flex;
            align-items: center;
            padding: 0 10px;
            border-bottom: 1px solid rgba(0,0,0,0.1);
            cursor: pointer;
            column-gap: 20px;
            background: #fff;

            .realestate-post__fullview__header__image-container {
                display: flex;
                justify-content: center;
                align-items: center;
                .realestate-post__fullview__header__image {
                    width: 195px;
                    height: 117px;
                }
            }

            .realestate-post__fullview__header__data {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                flex-grow: 1;
                height: 100%;
                padding: 10px 0;

                .realestate-post__fullview__header__data__address {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                }

                .realestate-post__fullview__header__data__price {
                    justify-self: flex-end;
                }

                .realestate-post__fullview__header__data__specs {
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-start;
                    column-gap: 20px;
                    .realestate-post__info {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .realestate-post__fullview__header__data__contact {
                    justify-self: flex-end;
                    align-self: flex-end;
                    position: relative;

                    .realestate-post__fullview__header__data__contact__button {
                        width: 180px;
                        height: 35px;
                        background: #0fca80;
                        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        column-gap: 10px;
                        
                        color: #fff;
                        font-weight: 500;
                        font-size: 14px;

                        .realestate-post__fullview__header__data__contact__button__icon {
                            filter: $white-filter;
                        }
                    }

                    .realestate-post__fullview__header__data__contact__content {
                        position: absolute;
                        height: 0;
                        overflow: hidden;
                        transition: height 100ms linear;
                        background: #fff;
                        width: 100%;
                        top: 35px;
                        display: flex;
                        flex-direction: column;
                        border: 1px solid rgba(0,0,0,0.1);

                        .realestate-post__fullview__header__data__contact__content__data {
                            width: 100%;
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: default;
                            border-bottom: 1px solid rgba(0,0,0,0.1);

                            &.email {
                                cursor: pointer;
                                border-bottom: none;
                                &:hover {
                                    color: $orange;
                                }
                            }
                        }

                        &.show {
                            height: 150px;
                        }
                    }
                }
            }
        }

        .realestate-post__fullview__main {
            display: grid;
            grid-template-columns: 30% 70%;

            .realestate-post__fullview__ads {
                background: #f0f0f0;
                padding: 10px;
            }

            .realestate-post__fullview__content {
                background: #fff;
                padding: 20px 10px 40px;
                
                .realestate-post__fullview__content__description {
                    display: flex;
                    flex-direction: column;
                    row-gap: 5px;
                    margin-bottom: 20px;
                    .realestate-post__fullview__content__description__title {
                        font-size: 14px;
                        font-weight: 500;
                    }
                    .realestate-post__fullview__content__description__text {
                        font-size: 14px;
                    }
                }

                .realestate-post__fullview__content__specs {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    row-gap: 10px;
                    .realestate-post__fullview__content__specs__data {
                        font-size: 12px;
                    }
                }

                .realestate-post__fullview__content__features-container {
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    .realestate-post__fullview__content__features__title {
                        font-size: 14px;
                        font-weight: 500;
                    }

                    .realestate-post__fullview__content__features__features {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        row-gap: 20px;
                        width: 100%;

                        .realestate-post__fullview__content__feature {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            column-gap: 8px;
                            opacity: 0.3;

                            .realestate-post__fullview__content__feature__text {
                                font-size: 12px;
                            }

                            &.bold {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        .realestate-post__fullview__footer {
            width: 100%;
            height: 43px;
            border-top: 1px solid rgba(0,0,0,0.1);
            background: #fff;
        }

        .realestate-post__fullview__picture-reel {
            background: rgba(0,0,0,0.8);
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            display: grid;
            grid-template-columns: 10% 80% 10%;

            .realestate-post__fullview__picture-reel__right {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                img {
                    transform: rotateZ(-90deg);
                    width: 50px;
                    filter: $white-filter;
                    cursor: pointer;
                }
                z-index: 1;
            }

            .realestate-post__fullview__picture-reel__left {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    transform: rotateZ(90deg);
                    width: 50px;
                    filter: $white-filter;
                    cursor: pointer;
                }
                z-index: 1;
            }

            .realestate-post__fullview__picture-reel__images {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                position: relative;

                .realestate-post__fullview__picture-reel__image {
                    height: calc(100vh - 100px);
                    object-fit: contain;
                    display: none;
                    transition: all 300ms linear;
                    width: 100%;

                    &.selected {
                        display: block;
                        width: 100%;

                        &.from-right {
                            animation: image-carousel__from-right;
                            animation-duration: 400ms;
                        }
                        &.from-left {
                            animation: image-carousel__from-left;
                            animation-duration: 400ms;
                        }
                    }
                    &.next {
                        display: block;
                        position: absolute;
                        transform: translateX(300%);
                    }
                    &.prev {
                        display: block;
                        position: absolute;
                        transform: translateX(-300%);
                    }
                }
            }
        }
    }
}

@keyframes image-carousel__from-right {
    0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes image-carousel__from-left {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0);
    }
}