.hamburger-menu-icon__contianer {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    .hamburger-menu-icon__icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2px;
        height: 20px;
        width: 20px;
        padding-top: 2.5px;
        margin-left: 4px;
        .hamburger-menu-icon__icon__line {
            
            background-color: $medium-gray;
            width: 15px;
            height: 3px;
            border-radius: 3px;
        }
        @media (max-width: $mobile-breakpoint) {
            padding: 0 20px;
            margin: 0;
        }
    }

    .hamburger-menu-icon__text {
        font-size: 24px;
        margin-left: 10px;
        color: $medium-gray;
    }
}