.private-realestate__selection.realestate__address {
    
    .form-container {
        margin: 20px 40px;
        .form-field {
            display: flex;
            flex-direction: column;
            margin: 20px 0;
            position: relative;
            width: 33%;

            .form-field__label {
                font-size: 14px;
                color: #333333;
                white-space: nowrap;
            }

            .form-field__select {
                height: 35px;
                width: 100%;
                font-size: 14px;
                
                option {
                    font-size: 14px;
                }
            }
            
            .form-field__input {
                height: 35px;
                width: 100%;
                .form-field__input__input {
                    height: 35px;
                    width: 100%;
                }
            }

            &.checkbox {
                flex-direction: row-reverse;
                justify-content: flex-end;
                align-items: center;
                column-gap: 5px;
                width: 33%;
                .form-field__input {
                    width: 20px !important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .form-field__input__input {
                    height: 15px;
                    width: 15px;
                }
            }

            .form-field__suggestions {
                position: absolute;
                right: 0;
                top: 52px;
                background: #fff;
                z-index: 1;
                width: 265px;
                border: 1px solid $dark-gray;
                
                .form-field__suggestion {
                    cursor: pointer;
                    &:hover {
                        background: $light-gray;
                    }
                }
            }
        }
        .form-section {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            column-gap: 20px;

            .form-field {
                width: 23%;

                .form-field__input {
                    height: 35px;
                    width: 100%;
                }

                &.checkbox {
                    flex-direction: row-reverse;
                    justify-content: flex-end;
                    align-items: center;
                    padding-top: 17px;
                }
            }
        }

    }
}