.realestate__search-form {
    border-radius: 4px;
    position: relative;
    width: 100%;
    max-width: 960px;
    min-width: 500px;

    padding: 20px;
    margin: 30px 0;

    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
    

    display: flex;
    flex-direction: column;
    gap: 20px;

    .realestate__search-form__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .realestate__search-form__title {
            font-size: 18px;
            font-weight: 500;
            
            .realestate__search-form__title__type {
                color: $orange;
                text-decoration: underline dotted;
                text-underline-offset: 2px;
                cursor: pointer;
            }
        }

        .realestate__search-form__notification {
            .realestate__search-form__notification__button {
                height: 30px;
                width: 215px;

                background: #fff;
                color: $orange;
                border: 1px solid $orange;

                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                cursor:pointer;

                .realestate__search-form__notification__button__icon {
                    filter: $orange-filter;
                }
            }
        }
    }

    .realestate__search-form__basic-search {
        width: 100%;

        .realestate__search-form__basic-search__form {
            display: flex;
            gap: 10px;
            align-items: flex-end;
            width: 100%;
            
            .form-field {
                display: flex;
                flex-direction: column;
                gap: 5px;
                flex-grow: 1;
                flex-basis: 1;
                min-width: 100px;
                position: relative;
                
                .form-field__label {
                    font-size: 14px;
                }

                .form-field__multi-input {
                    display: flex;
                    width: 100%;
                    .form-field__input{
                        max-width: 80px;
                        width: 50%;
                    }
                }

                .form-field__input {
                    height: 40px;
                    border: 1px solid #ccc;
                    min-width: 100px;
                    flex-grow: 1;
                    padding: 0 10px;

                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    font-size: 14px;
                    
                    span {
                        color: #ccc;
                        cursor: pointer;
                        flex-grow: 1;
                        pointer-events: none;
                    }
                    
                    .button-arrow {
                        width: 8px;
                        height: 8px;
                        cursor: pointer;
                        pointer-events: none;
                    }

                    &:focus-visible {
                        outline: none;
                    }
                }

                .form-field__expandable {
                    position: absolute;
                    display: none;
                    min-width: 180px;
                    min-height: 80px;
                    background: #fff;
                    top: 100%;
                    right: 0;

                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    border: 1px solid #ccc;

                    &.col {
                        flex-direction: column;
                    }
                    gap: 5px;
                    &.show {
                        display: flex;
                    }

                    .form-field__expandable__section {
                        width: 100%;
                        
                        .form-field__expandable__section__header {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 10px;
                            background: $light-gray;
                            height: 44px;
                            width: 280px;
                            padding: 10px;
                            cursor: pointer;

                            .button-arrow__container {
                                display: flex;
                                justify-content: flex-end;
                                padding: 10px;
                                margin-right: auto;
                                cursor: pointer;
                                .button-arrow {
                                    width: 10px;
                                    height: 10px;
                                }
                            }
                        }

                        .form-field__expandable__section__dropdown {
                            width: 82%;
                            margin: 0 auto;
                            height: 0;
                            overflow: hidden;
                            
                            .form-field__expandable__section__dropdown__item {
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                padding: 15px 0;
                                border-bottom: 1px solid #eee;
                                cursor: pointer;
                            }

                            &.show {
                                height:unset;
                            }
                        }
                    }

                    select {
                        width: 50px;
                        height: 30px;
                    }

                    .form-field__expandable__section-title {
                        background: $light-gray;
                        width: 100%;
                        height: 30px;
                        width: 448px;
                        display: flex;
                        align-items: center;
                        font-weight: bold;
                        padding-right: 10px;
                    }
                    .form-field__expandable__section-content {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        padding-right: 10px;

                        .form-field__expandable__section-content__item {
                            width: 100%;
                            height: 40px;
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }

            .form-button {
                height: 40px;
                display: flex;
                gap: 5px;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                padding: 0 20px;
                border: none;
                cursor: pointer;

                .form-button__icon {
                    filter: $white-filter;
                    transform: scale(0.9);
                    margin-top: 1px;
                }

                &.advanced::before {
                    content: "+";
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;

                    width: 10px;
                    height: 10px;
                    border: 1px solid $dark-gray;
                    border-radius: 50%;

                    font-size: 10px;
                    font-weight: bold;
                    margin-top: 2px;
                }

                &:hover {
                    background: #ccc;
                }

                &.submit {
                    background: $orange;
                    color: #fff;
                    font-weight: 500;
                    &:hover {
                        background: $dark-orange;
                    }
                }
            }
        }
    }
}