.realestate__search-form__advanced {
    width: 100%;
    max-width: 960px;
    min-height: 100px;
    
    position: absolute;
    top: 100%;
    left: 0;

    background: #fff;
    border-top: 1px solid #ccc;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);

    .realestate__search-form__advanced__input-section {
        width: 90%;
        border-bottom: 1px solid #ccc;
        margin: 10px auto;
        padding: 0 0 20px;

        .realestate__search-form__advanced__input-section__title {
            color: #363636;
            font-size: 16px;
            font-weight: 500;
            padding: 10px 0;
        }

        .realestate__search-form__advanced__input-section__features {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 15px;
            padding: 0 20px 0 0;

            .realestate__search-form__advanced__input-section__feature {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 5px;
                flex-grow: 1;
                flex-basis: 0;
            }
            .realestate__search-form__advanced__input-section__features__break {
                flex-basis: 100%;
            }
        }

        &.second {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: 10px;
            

            .realestate__search-form__advanced__input-section__title {
                font-size: 14px;
                font-weight: normal;
                margin: 0;
                width: 100%;
            }
            .realestate__search-form__advanced__input-section__floor {
                display: flex;
                flex-wrap: wrap;
                flex-grow: 1;
                flex-basis: 0;
                column-gap:10px;

                .realestate__search-form__advanced__input-section__floor__select {
                    flex-grow: 1;
                    height: 40px;
                    width: 45%;
                }
            }
            
            .realestate__search-form__advanced__input-section__area {
                display: flex;
                flex-wrap: wrap;
                flex-grow: 1;
                flex-basis: 0;
                column-gap: 10px;
                .realestate__search-form__advanced__input-section__area__title__input {
                    width: 45%;
                    height: 40px;
                }
            }
            
            .realestate__search-form__advanced__input-section__date {
                flex-wrap: wrap;
                flex-grow: 1;
                flex-basis: 0;
                display: flex;
                column-gap: 10px;

                .realestate__search-form__advanced__input-section__date__input {
                    height: 40px;
                    .react-date-picker__wrapper {
                        flex-direction: row-reverse;
                    }
                }

                .realestate__search-form__advanced__input-section__entry-now {
                    flex-grow: 1;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
            }

        }

        &.third {
            .realestate__search-form__advanced__input-section__title {
                margin: 0;
            }
            input {
                height: 40px;
                width: 40%;
            }
        }
    }
    .realestate__search-form__advanced__buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0 20px;
        position: relative;

        .realestate__search-form__advanced__buttons__submit {
            width: 70px;
            height: 40px;
            background: $orange;
            font-size: 14px;
            font-weight: 500;
            color: #fff;
            padding: 11px 5px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            &:hover {
                background: $dark-orange;
            }
        }
        .realestate__search-form__advanced__buttons__clear {
            position: absolute;
            left: 60px;
            background: #fff;
            border: none;
            cursor: pointer;
        }
    }
}