.login__page-header {
    .login__page-header__logo__container {
        padding: 30px;
        display: flex;
        .login__page-header__logo {
            width: 90px;
        }
    }
    .login__page-header__return-button {
        display: flex;
        flex-direction: row-reverse;
        padding: 30px 20px 0;
        img {
            pointer-events: none;
            width: 20px;
            transform: rotateZ(90deg);
        }
    }
}

.login__page-main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width:881px) {
        padding-bottom: 114px;
        
    }
}