.register__form__container {
    width: 100%;
    @media (min-width: 881px) {
        width: 510px;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
        padding: 35px;
    }

    .register__form__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        .register__form__title__text {
            text-align: center;
            font-size: 24px;
            font-weight: 400;
            color: $dark-gray;
        }
    }

    .register__form {
        margin-top: 25px;
        .form-field {
            margin-bottom: 10px;
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            .form-field__label {
                color: $dark-gray;
                margin-bottom: 5px;
                padding-top: 20px;
            }
            .form-field__input {
                position: relative;
                .form-field__input__input {
                    height: 50px;
                    width: 100%;
                    border: 1px solid rgb(204,204,204);
                    border-radius: 4px;
                    font-size: 100%;
                    padding: 10px 15px 10px 35px;
                    // placeholder settings
                    &::placeholder{
                        color: rgba(128,128,128,0.6)
                    }
                    &:hover ,
                    &:focus-visible{
                        border: 1px solid black;
                    }
                    &.error {
                        border: 1px solid $error-red !important;
                    }
                }
                .form-field__input__icon {
                    position: absolute;
                    top: 18px;
                    left: 10px;
                    cursor: pointer;
                    filter: invert(50%) sepia(23%) saturate(0%) hue-rotate(153deg) brightness(95%) contrast(82%);
                    &:hover {
                        filter: invert(0%) sepia(100%) saturate(7458%) hue-rotate(109deg) brightness(87%) contrast(109%);
                    }
                }
                .form-field__input__bubble {
                    border: 1px solid rgb(204,204,204);
                    border-radius: 4px;
                    max-width: 100%;
                    min-width: 205px;
                    background: #fff;
                    padding: 20px;
                    position: absolute;
                    top: -125px;
                    left: 50%;
                    transform: translateX(-50%);
                    display: none;
                    .form-field__input__bubble__title {
                        color: $dark-gray;
                        font-size: 14px;
                        font-weight: 500;
                        margin-bottom: 10px;
                    }
                    .form-field__input__bubble__list {
                        display: flex;
                        flex-direction: column;
                        row-gap: 10px;
                        padding: 0;
                        margin: 0;
                        list-style-type: none;
                        //text
                        font-size: 14px;
                        color: $dark-gray;
                        .form-field__input__bubble__list-item {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            
                            img {
                                width: 17px;
                                height: 17px;
                                margin-left: 5px;
                            }
                        }

                    }
                    .tri-point {
                        position: absolute;
                        bottom: -10px;
                        left: 50%;
                        width: 10px;
                        height: 10px;
                        .gray-triangle {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 0;
                            height: 0;
                            border: 8px solid transparent;
                            border-top: 10px solid rgb(204,204,204);
                        }
                        .white-triangle {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 0;
                            height: 0;
                            border: 6px solid transparent;
                            border-top: 8px solid #fff;
                            transform: translateX(2px);
                        }
                    }
                    &.show {
                        display: block;
                    }
                }
            }
            .form-field__error {
                color: $error-red;
                font-size: 14px;
                padding: 10px 5px 0 0;
            }
        }
        @media (max-width:880px) {
            padding :10px;
        }
    }

    .submit-and-errors {
        margin-top: 20px;
    }

    .go-to-login {
        margin-top: 30px;
        text-align: center;
        .go-to-login__button {
            margin: 0 5px;
            font-weight: bold;
            color: $orange;
            cursor: pointer;
        }
    }   
}