* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: #000;
    direction: rtl;
}

body {
    margin: 0;
    background-color: $light-gray;
    min-width: 350px;
}

a {
    text-decoration: none;
}