//Colors
$orange : #ff7100;
$dark-orange: #d86000;
$light-gray: #f9f9f9;
$medium-gray: #606060;
$dark-gray: #363636;
$light-green: #0fca80;
$dark-green: #0e9c64;
$peach: #fff8ef;
$error-red: #FF2A2B;
$conformation-green: green;
$orange-filter: invert(57%) sepia(60%) saturate(4578%) hue-rotate(360deg) brightness(101%) contrast(108%);
$white-filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(272deg) brightness(116%) contrast(100%);
//Breakpoints
$mobile-breakpoint: 900px;
$hamburger-breakpoint: 1260px;
$publish-mobile-breakpoint: 880px;