//Colors
$orange : #ff7100;
$dark-orange: #d86000;
$light-gray: #f9f9f9;
$medium-gray: #606060;
$dark-gray: #363636;
$light-green: #0fca80;
$dark-green: #0e9c64;
$peach: #fff8ef;
$error-red: #FF2A2B;
$conformation-green: green;

//Breakpoints
$mobile-breakpoint: 900px;
$hamburger-breakpoint: 1260px;