@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: #000;
  direction: rtl;
}

body {
  margin: 0;
  background-color: #f9f9f9;
  min-width: 350px;
}

a {
  text-decoration: none;
}

svg {
  pointer-events: none;
}

.header-container {
  width: 100%;
  height: 75px;
  border-top: 5px solid #ff7100;
  padding: 0 20px;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.header-container .header__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.header-container .header__nav .header__nav-logo__container {
  display: flex;
  align-items: center;
  height: 100%;
}
.header-container .header__nav .header__nav-logo__container .header__nav-logo {
  width: 90px;
}
.header-container .header__nav .header__nav-item {
  flex-shrink: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.header-container .header__nav .header__nav-item .header__nav-item__link {
  height: 100%;
}
.header-container .header__nav .header__nav-item .header__nav-item__link .header__nav-item__link__inner-container {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.header-container .header__nav .header__nav-item .header__nav-item__link .header__nav-item__link__inner-container .header__nav-item__link__text {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
}
.header-container .header__nav .header__nav-item .header__nav-item__expandable-menu {
  display: none;
  position: absolute;
  top: 66px;
  min-width: 250px;
  background-color: #fff;
  padding: 25px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.header-container .header__nav .header__nav-item .header__nav-item__expandable-menu .header__nav-item__expandable-menu__section {
  display: flex;
  flex-direction: column;
  min-width: 160px;
}
.header-container .header__nav .header__nav-item .header__nav-item__expandable-menu .header__nav-item__expandable-menu__section.ml {
  margin-left: 40px;
}
.header-container .header__nav .header__nav-item .header__nav-item__expandable-menu .header__nav-item__expandable-menu__section .header__nav-item__expandable-menu__link {
  padding: 8px 0;
  display: flex;
  column-gap: 10px;
}
.header-container .header__nav .header__nav-item .header__nav-item__expandable-menu .header__nav-item__expandable-menu__section .header__nav-item__expandable-menu__link .header__nav-item__expandable-menu__link__img {
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container .header__nav .header__nav-item .header__nav-item__expandable-menu .header__nav-item__expandable-menu__section .header__nav-item__expandable-menu__link .header__nav-item__expandable-menu__link__img img {
  width: 25px;
}
.header-container .header__nav .header__nav-item .header__nav-item__expandable-menu .header__nav-item__expandable-menu__section .header__nav-item__expandable-menu__link:hover .header__nav-item__expandable-menu__link__text {
  color: #ff7100;
}
.header-container .header__nav .header__nav-item .header__nav-item__expandable-menu .header__nav-item__expandable-menu__section .header__nav-item__expandable-menu__link:hover .header__nav-item__expandable-menu__link__img svg {
  filter: invert(51%) sepia(82%) saturate(3452%) hue-rotate(0deg) brightness(105%) contrast(105%);
}
.header-container .header__nav .header__nav-item:hover .header__nav-item__link__inner-container {
  background-color: rgba(54, 54, 54, 0.05);
}
.header-container .header__nav .header__nav-item:hover .header__nav-item__expandable-menu {
  display: flex;
}
@media (max-width: 1260px) {
  .header-container .header__nav .header__nav-item {
    display: none;
  }
}
@media (max-width: 900px) {
  .header-container .header__nav {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .header-container .header__nav .header__nav__empty-div {
    width: 30px;
  }
}
.header-container .header__personal {
  display: flex;
  justify-content: flex-start;
}
.header-container .header__personal .header__personal__section {
  height: 100%;
}
.header-container .header__personal .header__personal__section:hover .header__personal__section__icon__container {
  background-color: #f9f9f9;
}
.header-container .header__personal .header__personal__section:hover .user-avatar__expandable-content {
  display: flex;
}
.header-container .header__personal .header__personal__section .header__personal__section__icon__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 18px 0;
}
.header-container .header__personal .header__personal__section .header__personal__section__icon__container .header__personal__section__icon__text {
  white-space: nowrap;
  margin: 0 5px;
}
.header-container .header__personal .header__personal__section .user-avatar__expandable-content {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 192px;
  background: #fff;
  width: 150px;
  z-index: 1;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px rgba(0, 0, 0, 0.14);
}
.header-container .header__personal .header__personal__section .user-avatar__expandable-content .user-avatar__expandable-content__link {
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-right: 10px;
}
.header-container .header__personal .header__personal__section .user-avatar__expandable-content .user-avatar__expandable-content__link:hover {
  background: #f9f9f9;
}
.header-container .header__personal .header__personal__section .user-avatar__expandable-content .user-avatar__expandable-content__link .user-avatar__expandable-content__link__text {
  font-size: 14px;
  color: #363636;
  margin-right: 10px;
}

.hamburger-menu-icon__contianer {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger-menu-icon__contianer .hamburger-menu-icon__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2px;
  height: 20px;
  width: 20px;
  padding-top: 2.5px;
  margin-left: 4px;
}
.hamburger-menu-icon__contianer .hamburger-menu-icon__icon .hamburger-menu-icon__icon__line {
  background-color: #606060;
  width: 15px;
  height: 3px;
  border-radius: 3px;
}
@media (max-width: 900px) {
  .hamburger-menu-icon__contianer .hamburger-menu-icon__icon {
    padding: 0 20px;
    margin: 0;
  }
}
.hamburger-menu-icon__contianer .hamburger-menu-icon__text {
  font-size: 24px;
  margin-left: 10px;
  color: #606060;
}

.hamburger-menu__menu__modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.hamburger-menu__menu__modal.hide {
  display: none;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__background {
  background-color: rgba(0, 0, 0, 0.54);
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.35, 0, 0.25, 1);
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__background.hide {
  opacity: 0;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar {
  background-color: #fff;
  height: 100%;
  width: 85%;
  min-width: 310px;
  max-width: 400px;
  position: fixed;
  z-index: 11;
  top: 0;
  right: 0;
  overflow-y: scroll;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: translateX(0);
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar::-webkit-scrollbar {
  display: none;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar.hide {
  transform: translateX(400px);
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar .hamburger-menu__menu__modal__sidebar__close {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 10px 20px;
  width: 23px;
  align-self: flex-start;
  cursor: pointer;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar .hamburger-menu__menu__modal__sidebar__section {
  width: 100%;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar .hamburger-menu__menu__modal__sidebar__section .hamburger-menu__menu__modal__sidebar__section__title {
  color: #999999;
  font-size: 1rem;
  padding: 34px 34px 8px 0;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar .hamburger-menu__menu__modal__sidebar__section.personal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar .hamburger-menu__menu__modal__sidebar__section.personal .user-avatar__container {
  margin-bottom: 5px;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar .hamburger-menu__menu__modal__sidebar__section.personal .links__container {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar .hamburger-menu__menu__modal__sidebar__section.personal .links__container a {
  width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 5px;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar .hamburger-menu__menu__modal__sidebar__section.personal .links__container a svg {
  filter: invert(7%) sepia(99%) saturate(24%) hue-rotate(51deg) brightness(105%) contrast(89%);
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar .hamburger-menu__menu__modal__sidebar__section.personal .links__container a .header__personal__section__icon__text {
  font-size: 0.9rem;
  text-align: center;
  color: #999999;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar .hamburger-menu__menu__modal__sidebar__section.quick-search {
  width: 100%;
  background-color: #f9f9f9;
  padding-bottom: 20px;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar .hamburger-menu__menu__modal__sidebar__section.quick-search .links-container {
  display: flex;
  flex-direction: column;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar .hamburger-menu__menu__modal__sidebar__section.quick-search .links-container .link {
  display: flex;
  align-items: center;
  margin: 10px auto;
  width: 80%;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar .hamburger-menu__menu__modal__sidebar__section.quick-search .links-container .link svg {
  width: 20px;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar .hamburger-menu__menu__modal__sidebar__section.quick-search .links-container .link .link__text {
  margin-right: 20px;
  font-size: 1.1rem;
  font-weight: 500;
  color: #363636;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar .hamburger-menu__menu__modal__sidebar__section.navigate .categories-container .category__container .category__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 20px 0 29px;
  border-bottom: 1px solid #eee;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar .hamburger-menu__menu__modal__sidebar__section.navigate .categories-container .category__container .category__title .category__title__text {
  font-size: 1rem;
  padding: 16px 14px;
  pointer-events: none;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar .hamburger-menu__menu__modal__sidebar__section.navigate .categories-container .category__container .category__title .category__title__arrow {
  pointer-events: none;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar .hamburger-menu__menu__modal__sidebar__section.navigate .categories-container .category__container .category__title .category__title__arrow img {
  width: 15px;
  pointer-events: none;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar .hamburger-menu__menu__modal__sidebar__section.navigate .categories-container .category__container .category__title .category__title__arrow.rotate img {
  transform: rotateZ(180deg);
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar .hamburger-menu__menu__modal__sidebar__section.navigate .categories-container .category__container .category__expandable-content {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  background-color: #f9f9f9;
  max-height: 0;
  transform: scaleY(0);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform-origin: top center;
  padding: 0 20px;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar .hamburger-menu__menu__modal__sidebar__section.navigate .categories-container .category__container .category__expandable-content.show {
  transform: scaleY(1);
  max-height: 1000px;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar .hamburger-menu__menu__modal__sidebar__section.navigate .categories-container .category__container .category__expandable-content .link {
  font-size: 1rem;
  padding: 16px 14px;
  border-top: 1px solid #eee;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar .hamburger-menu__menu__modal__sidebar__section.hamburger-menu-footer {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
  background-color: #f9f9f9;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar .hamburger-menu__menu__modal__sidebar__section.hamburger-menu-footer .hamburger-menu-footer-button {
  min-width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar .hamburger-menu__menu__modal__sidebar__section.hamburger-menu-footer .hamburger-menu-footer-button .hamburger-menu-footer-button__icon__container {
  pointer-events: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 20px;
}
.hamburger-menu__menu__modal .hamburger-menu__menu__modal__sidebar .hamburger-menu__menu__modal__sidebar__section.hamburger-menu-footer .hamburger-menu-footer-button .hamburger-menu-footer-button__subtitle {
  pointer-events: none;
  text-align: center;
  font-size: 0.75rem;
  margin: 10px 12.5px 0;
  color: #999999;
}

.publish-ad-button {
  background-color: #0fca80;
  color: #fff;
  height: 40px;
  width: 193px;
  margin: 15px 15px 15px 0;
  padding: 0 14px;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.publish-ad-button:hover {
  background-color: #0e9c64;
}
.publish-ad-button.hamburger {
  margin: 15px 0;
  height: 35px;
  width: 170px;
}

.user-avatar__container {
  border-radius: 50%;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  aspect-ratio: 1/1;
}
.user-avatar__container svg {
  margin: 12px 13px;
}
.user-avatar__container .user-avatar__text {
  color: red;
  background: #ffd8d8;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.form-submit-button {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  background: #ff7100;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
  transition: all 0.1s linear;
}
.form-submit-button:hover {
  background: #d86000;
}
.form-submit-button:disabled {
  background: #d86000;
  cursor: not-allowed;
}

.page-content {
  min-height: calc(100vh - 75px);
}
.page-content.login {
  height: 100vh;
  width: 100%;
  padding: 0 3.5vw;
  background: #fff8ef;
  display: flex;
  flex-direction: column;
}
@media (max-width: 880px) {
  .page-content.login {
    background: #fff;
    padding: 0 10px 25px;
  }
}
.page-content.page-not-found {
  min-height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.home-header {
  display: flex;
  overflow: hidden;
  align-content: center;
  height: 504px;
  width: 100%;
  position: relative;
}
.home-header .home-header__content__wrapper {
  flex: 1 0 100%;
  background-size: cover;
  margin: 0 auto;
  background-position: 50%;
}
.home-header .home-header__content__wrapper .home-header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  width: 1000px;
}
.home-header .home-header__content__wrapper .home-header__content .home-header__content__image {
  max-width: 500px;
  position: absolute;
  bottom: 0;
}

.login__page-header .login__page-header__logo__container {
  padding: 30px;
  display: flex;
}
.login__page-header .login__page-header__logo__container .login__page-header__logo {
  width: 90px;
}
.login__page-header .login__page-header__return-button {
  display: flex;
  flex-direction: row-reverse;
  padding: 30px 20px 0;
}
.login__page-header .login__page-header__return-button img {
  pointer-events: none;
  width: 20px;
  transform: rotateZ(90deg);
}

.login__page-main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 881px) {
  .login__page-main {
    padding-bottom: 114px;
  }
}

.login__form__container {
  width: 100%;
}
@media (min-width: 881px) {
  .login__form__container {
    width: 510px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 35px;
  }
}
.login__form__container .login__form__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}
.login__form__container .login__form__title .login__form__title__text {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #363636;
}
.login__form__container .login__form {
  margin-top: 25px;
}
.login__form__container .login__form .form-field {
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.login__form__container .login__form .form-field .form-field__label {
  color: #363636;
  margin-bottom: 5px;
  padding-top: 20px;
}
.login__form__container .login__form .form-field .form-field__input {
  position: relative;
}
.login__form__container .login__form .form-field .form-field__input .form-field__input__input {
  height: 50px;
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 100%;
  padding: 10px 15px 10px 35px;
}
.login__form__container .login__form .form-field .form-field__input .form-field__input__input::placeholder {
  color: rgba(128, 128, 128, 0.6);
}
.login__form__container .login__form .form-field .form-field__input .form-field__input__input:hover, .login__form__container .login__form .form-field .form-field__input .form-field__input__input:focus-visible {
  border: 1px solid black;
}
.login__form__container .login__form .form-field .form-field__input .form-field__input__icon {
  position: absolute;
  top: 18px;
  left: 10px;
  cursor: pointer;
  filter: invert(50%) sepia(23%) saturate(0%) hue-rotate(153deg) brightness(95%) contrast(82%);
}
.login__form__container .login__form .form-field .form-field__input .form-field__input__icon:hover {
  filter: invert(0%) sepia(100%) saturate(7458%) hue-rotate(109deg) brightness(87%) contrast(109%);
}
.login__form__container .login__form .login__form__password-reset {
  color: #ff7100;
  font-weight: bold;
  font-size: 0.9rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
  margin-top: 20px;
}
.login__form__container .login__form .submit-and-errors {
  margin-top: 20px;
}
.login__form__container .login__form .go-to-register {
  margin-top: 30px;
  text-align: center;
}
.login__form__container .login__form .go-to-register .go-to-register__button {
  margin: 0 5px;
  font-weight: bold;
  color: #ff7100;
  cursor: pointer;
}
@media (max-width: 880px) {
  .login__form__container .login__form {
    padding: 10px;
  }
}

.login__ad {
  margin-right: 200px;
  width: 450px;
}
.login__ad .login__ad__text {
  font-size: 36px;
  color: #363636;
}
.login__ad .login__ad__images__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.login__ad .login__ad__images__container .login__ad__image {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.login__ad .login__ad__images__container .login__ad__image .login__ad__image__image {
  width: 60px;
}
.login__ad .login__ad__images__container .login__ad__image .login__ad__image__text {
  font-size: 14px;
  color: #363636;
  margin-top: 10px;
}

.register__form__container {
  width: 100%;
}
@media (min-width: 881px) {
  .register__form__container {
    width: 510px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 35px;
  }
}
.register__form__container .register__form__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}
.register__form__container .register__form__title .register__form__title__text {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #363636;
}
.register__form__container .register__form {
  margin-top: 25px;
}
.register__form__container .register__form .form-field {
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.register__form__container .register__form .form-field.checkbox {
  flex-direction: row;
  align-items: center;
  padding-bottom: 5px;
}
.register__form__container .register__form .form-field.checkbox .form-field__label {
  padding-top: 0;
  margin: 3px;
  font-size: 14px;
}
.register__form__container .register__form .form-field .form-field__label {
  color: #363636;
  margin-bottom: 5px;
  padding-top: 20px;
}
.register__form__container .register__form .form-field .form-field__input {
  position: relative;
}
.register__form__container .register__form .form-field .form-field__input .form-field__input__input {
  height: 50px;
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 100%;
  padding: 10px 15px 10px 35px;
}
.register__form__container .register__form .form-field .form-field__input .form-field__input__input::placeholder {
  color: rgba(128, 128, 128, 0.6);
}
.register__form__container .register__form .form-field .form-field__input .form-field__input__input:hover, .register__form__container .register__form .form-field .form-field__input .form-field__input__input:focus-visible {
  border: 1px solid black;
}
.register__form__container .register__form .form-field .form-field__input .form-field__input__input.error {
  border: 1px solid #FF2A2B !important;
}
.register__form__container .register__form .form-field .form-field__input .form-field__input__icon {
  position: absolute;
  top: 18px;
  left: 10px;
  cursor: pointer;
  filter: invert(50%) sepia(23%) saturate(0%) hue-rotate(153deg) brightness(95%) contrast(82%);
}
.register__form__container .register__form .form-field .form-field__input .form-field__input__icon:hover {
  filter: invert(0%) sepia(100%) saturate(7458%) hue-rotate(109deg) brightness(87%) contrast(109%);
}
.register__form__container .register__form .form-field .form-field__input .form-field__input__bubble {
  border: 1px solid #cccccc;
  border-radius: 4px;
  max-width: 100%;
  min-width: 205px;
  background: #fff;
  padding: 20px;
  position: absolute;
  top: -125px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.register__form__container .register__form .form-field .form-field__input .form-field__input__bubble .form-field__input__bubble__title {
  color: #363636;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
.register__form__container .register__form .form-field .form-field__input .form-field__input__bubble .form-field__input__bubble__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 14px;
  color: #363636;
}
.register__form__container .register__form .form-field .form-field__input .form-field__input__bubble .form-field__input__bubble__list .form-field__input__bubble__list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.register__form__container .register__form .form-field .form-field__input .form-field__input__bubble .form-field__input__bubble__list .form-field__input__bubble__list-item img {
  width: 17px;
  height: 17px;
  margin-left: 5px;
}
.register__form__container .register__form .form-field .form-field__input .form-field__input__bubble .tri-point {
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 10px;
  height: 10px;
}
.register__form__container .register__form .form-field .form-field__input .form-field__input__bubble .tri-point .gray-triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 10px solid #cccccc;
}
.register__form__container .register__form .form-field .form-field__input .form-field__input__bubble .tri-point .white-triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top: 8px solid #fff;
  transform: translateX(2px);
}
.register__form__container .register__form .form-field .form-field__input .form-field__input__bubble.show {
  display: block;
}
.register__form__container .register__form .form-field .form-field__error {
  color: #FF2A2B;
  font-size: 14px;
  padding: 10px 5px 0 0;
}
@media (max-width: 880px) {
  .register__form__container .register__form {
    padding: 10px;
  }
}
.register__form__container .submit-and-errors {
  margin-top: 20px;
}
.register__form__container .go-to-login {
  margin-top: 30px;
  text-align: center;
}
.register__form__container .go-to-login .go-to-login__button {
  margin: 0 5px;
  font-weight: bold;
  color: #ff7100;
  cursor: pointer;
}

.loader-background {
  z-index: 20;
  background: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
}
.loader-background .loader-header-placeholder {
  height: 70px;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
}
.loader-background .loader-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-background .loader-container .loader,
.loader-background .loader-container .loader:before,
.loader-background .loader-container .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader-background .loader-container .loader {
  color: #ff7100;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader-background .loader-container .loader:before,
.loader-background .loader-container .loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader-background .loader-container .loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader-background .loader-container .loader:after {
  left: 3.5em;
}

@-webkit-keyframes load7 {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
.publish-page__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0 10px;
  background: #fff;
}
.publish-page__header .publish-page__header__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: max-content;
}
.publish-page__header .publish-page__header__title .publish-page__header__title__logo {
  max-width: 90px;
}
.publish-page__header .publish-page__header__title .publish-page__header__title__text {
  font-size: 18px;
  color: #363636;
  margin-right: 5px;
}
.publish-page__header .publish-page__header__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
  column-gap: 10px;
}
.publish-page__header .publish-page__header__links .publish-page__header__link {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  cursor: pointer;
}
.publish-page__header .publish-page__header__links .publish-page__header__link .publish-page__header__link__icon.orange {
  filter: invert(47%) sepia(82%) saturate(2999%) hue-rotate(4deg) brightness(106%) contrast(106%);
}
.publish-page__header .publish-page__header__links .publish-page__header__link .publish-page__header__link__text.orange {
  color: #ff7100;
}

.publish-page__main {
  background: #f9f9f9;
  width: 100%;
  min-height: calc(100vh - 70px);
  padding: 4.25rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.publish-page__main .publish-page__main__title {
  font-size: 24px;
  color: #363636;
  text-align: center;
  margin-bottom: 40px;
}
.publish-page__main .publish-page__main__catergories {
  max-width: 1020px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}
@media (max-width: 620px) {
  .publish-page__main .publish-page__main__catergories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding: 0 20px;
  }
}
.publish-page__main .publish-page__main__catergories .publish-page__main__catergories__first-row,
.publish-page__main .publish-page__main__catergories .publish-page__main__catergories__second-row,
.publish-page__main .publish-page__main__catergories .publish-page__main__catergories__third-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
.publish-page__main .publish-page__main__catergories .publish-page__main__catergories__first-row {
  height: 225px;
}
.publish-page__main .publish-page__main__catergories .publish-page__main__catergories__second-row {
  height: 210px;
}
.publish-page__main .publish-page__main__catergories .publish-page__main__catergories__third-row {
  height: 56px;
}
.publish-page__main .publish-page__main__catergories .publish-page__main__catergories__third-row .publish-page__main__category .publish-page__main__category__button .publish-page__main__category__title {
  font-size: 18px;
}
.publish-page__main .publish-page__main__catergories .publish-page__main__category {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.publish-page__main .publish-page__main__catergories .publish-page__main__category .publish-page__main__category__button {
  background: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.publish-page__main .publish-page__main__catergories .publish-page__main__category .publish-page__main__category__button .publish-page__main__category__icon {
  max-width: 130px;
  width: 90%;
  pointer-events: none;
}
.publish-page__main .publish-page__main__catergories .publish-page__main__category .publish-page__main__category__button .publish-page__main__category__title {
  width: 90%;
  font-size: 22px;
  font-weight: 500;
  color: #363636;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.publish-page__main .publish-page__main__catergories .publish-page__main__category .publish-page__main__category__button .publish-page__main__category__subtitle {
  width: 70%;
  font-size: 16px;
  height: 41px;
  margin-top: 3px;
  color: #808080;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.publish-page__main .publish-page__main__catergories .publish-page__main__category .publish-page__main__category__button .publish-page__main__category__button {
  height: 35px;
  width: 100px;
  margin-top: 9px;
  background: #ff7100;
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  display: none;
  pointer-events: none;
}
.publish-page__main .publish-page__main__catergories .publish-page__main__category .publish-page__main__category__button:hover .publish-page__main__category__icon {
  filter: invert(57%) sepia(60%) saturate(4578%) hue-rotate(360deg) brightness(101%) contrast(108%);
}
.publish-page__main .publish-page__main__catergories .publish-page__main__category .publish-page__main__category__button:hover .publish-page__main__category__subtitle {
  display: none;
}
.publish-page__main .publish-page__main__catergories .publish-page__main__category .publish-page__main__category__button:hover .publish-page__main__category__button {
  display: flex;
}
@media (max-width: 620px) {
  .publish-page__main .publish-page__main__catergories .publish-page__main__category .publish-page__main__category__button {
    padding: 20px 10px;
  }
}
.publish-page__main .publish-page__main__catergories .publish-page__main__category .publish-page__main__category__modal-background {
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
.publish-page__main .publish-page__main__catergories .publish-page__main__category .publish-page__main__category__modal-background.show {
  opacity: 1;
  height: 100vh;
}
.publish-page__main .publish-page__main__catergories .publish-page__main__category .publish-page__main__category__modal-background.show .publish-page__main__category__modal {
  display: flex;
}
.publish-page__main .publish-page__main__catergories .publish-page__main__category .publish-page__main__category__modal-background .publish-page__main__category__modal {
  background: #fff;
  width: 290px;
  height: 220px;
  border-radius: 4px;
  display: none;
  flex-direction: column;
}
.publish-page__main .publish-page__main__catergories .publish-page__main__category .publish-page__main__category__modal-background .publish-page__main__category__modal .publish-page__main__category__modal__close {
  text-align: left;
  width: 30px;
  height: 30px;
  align-self: flex-end;
  margin: 10px 10px 5px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
.publish-page__main .publish-page__main__catergories .publish-page__main__category .publish-page__main__category__modal-background .publish-page__main__category__modal .publish-page__main__category__modal__title {
  font-size: 18px;
  color: #363636;
  text-align: center;
  margin: 10px 0;
}
.publish-page__main .publish-page__main__catergories .publish-page__main__category .publish-page__main__category__modal-background .publish-page__main__category__modal .publish-page__main__category__modal__buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15px;
}
.publish-page__main .publish-page__main__catergories .publish-page__main__category .publish-page__main__category__modal-background .publish-page__main__category__modal .publish-page__main__category__modal__buttons .publish-page__main__category__modal__button {
  background: #eeeeee;
  border-radius: 4px;
  font-size: 24px;
  color: #363636;
  width: 100px;
  height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.private-realestate__selections {
  width: 100%;
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  padding: 20px 0;
}
.private-realestate__selections .private-realestate__selection {
  position: relative;
  background: #fff;
  max-width: 880px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(12, 0, 51, 0.1);
  padding: 23px 0 23px 0;
}
.private-realestate__selections .private-realestate__selection .private-realestate__selection__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  margin-right: 20px;
}
.private-realestate__selections .private-realestate__selection .private-realestate__selection__title .private-realestate__selection__title__number {
  width: 30px;
  height: 30px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #999;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.private-realestate__selections .private-realestate__selection .private-realestate__selection__title .private-realestate__selection__title__number.selected {
  border: 2px solid #0fca80;
  color: #0fca80;
}
.private-realestate__selections .private-realestate__selection .private-realestate__selection__title .private-realestate__selection__title__text {
  font-size: 24px;
  margin-left: 30px;
  white-space: nowrap;
}
.private-realestate__selections .private-realestate__selection .private-realestate__selection__title .private-realestate__selection__subtitle {
  text-decoration: underline;
  width: 50%;
  margin-left: 200px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden !important;
}
@media (max-width: 680px) {
  .private-realestate__selections .private-realestate__selection .private-realestate__selection__title {
    flex-wrap: wrap;
  }
  .private-realestate__selections .private-realestate__selection .private-realestate__selection__title .private-realestate__selection__title__text {
    flex-grow: 1;
  }
  .private-realestate__selections .private-realestate__selection .private-realestate__selection__title .private-realestate__selection__subtitle {
    width: 100%;
    flex-grow: 1;
    text-align: start;
  }
}
.private-realestate__selections .private-realestate__selection.completed {
  opacity: 0.5;
  cursor: pointer;
}
.private-realestate__selections .private-realestate__selection.completed::after {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.private-realestate__selections .private-realestate__selection.completed .private-realestate__selection__title__number {
  border: 2px solid #0fca80 !important;
  filter: invert(70%) sepia(99%) saturate(2902%) hue-rotate(110deg) brightness(95%) contrast(88%) !important;
}
.private-realestate__selections .private-realestate__selection__edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  width: 87px;
  height: 30px;
  background: #eeeeee;
  border-radius: 20px;
  position: absolute;
  top: 22px;
  left: 20px;
}
.private-realestate__selections .private-realestate__selection__edit-button .private-realestate__selection__edit-button__text {
  font-size: 14px;
  font-weight: 500;
}
.private-realestate__selections .private-realestate__selection__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
}
.private-realestate__selections .private-realestate__selection__buttons .private-realestate__selection__button-return {
  font-size: 14px;
  color: #363636;
  text-align: center;
  height: 35px;
  width: 90px;
  border: 1px solid #ccc;
  border-radius: 17.5px;
  background: #fff;
  cursor: pointer;
}
.private-realestate__selections .private-realestate__selection__buttons .private-realestate__selection__button-return:hover {
  color: #fff;
  background: #ff7100;
  border: 1px solid #ff7100;
}
.private-realestate__selections .private-realestate__selection__buttons .private-realestate__selection__button-submit {
  font-size: 14px;
  font-weight: 500;
  color: #ff7100;
  text-align: center;
  background: #fff;
  height: 35px;
  width: 155px;
  border: 1px solid #ff7100;
  border-radius: 17.5px;
  cursor: pointer;
}
.private-realestate__selections .private-realestate__selection__buttons .private-realestate__selection__button-submit:hover {
  color: #fff;
  background: #ff7100;
}

.private-realestate__selection.realestate__type .private-realestate__selection__selections {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0 20px;
}
@media (max-width: 880px) {
  .private-realestate__selection.realestate__type .private-realestate__selection__selections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    column-gap: 15px;
    padding: 20px;
  }
  .private-realestate__selection.realestate__type .private-realestate__selection__selections .private-realestate__selection__button {
    width: 100% !important;
  }
}
.private-realestate__selection.realestate__type .private-realestate__selection__selections .private-realestate__selection__button {
  height: 152px;
  width: 162px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.private-realestate__selection.realestate__type .private-realestate__selection__selections .private-realestate__selection__button .private-realestate__selection__button__title {
  pointer-events: none;
  font-size: 16px;
  font-weight: 500;
  color: #363636;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.private-realestate__selection.realestate__type .private-realestate__selection__selections .private-realestate__selection__button:hover {
  border: 1px solid #ff7100;
}
.private-realestate__selection.realestate__type .private-realestate__selection__selections .private-realestate__selection__button:hover .private-realestate__selection__button__icon {
  filter: invert(57%) sepia(60%) saturate(4578%) hue-rotate(360deg) brightness(101%) contrast(108%);
}

.private-realestate__selection.realestate__address .form-container {
  margin: 20px 40px;
}
.private-realestate__selection.realestate__address .form-container .form-field {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.private-realestate__selection.realestate__address .form-container .form-field .form-field__label {
  font-size: 14px;
  color: #333333;
}
.private-realestate__selection.realestate__address .form-container .form-field .form-field__select {
  height: 35px;
  width: 33%;
  font-size: 14px;
}
.private-realestate__selection.realestate__address .form-container .form-field .form-field__select option {
  font-size: 14px;
}
.private-realestate__selection.realestate__address .form-container .form-field .form-field__input {
  height: 35px;
  width: 33%;
}
.private-realestate__selection.realestate__address .form-container .form-field .form-field__input .form-field__input__input {
  height: 35px;
  width: 100%;
}
.private-realestate__selection.realestate__address .form-container .form-field.checkbox {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  column-gap: 5px;
}
.private-realestate__selection.realestate__address .form-container .form-field.checkbox .form-field__input {
  width: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.private-realestate__selection.realestate__address .form-container .form-field.checkbox .form-field__input__input {
  height: 15px;
  width: 15px;
}
.private-realestate__selection.realestate__address .form-container .form-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
}
.private-realestate__selection.realestate__address .form-container .form-section .form-field {
  width: 23%;
}
.private-realestate__selection.realestate__address .form-container .form-section .form-field .form-field__input {
  height: 35px;
  width: 100%;
}
.private-realestate__selection.realestate__address .form-container .form-section .form-field.checkbox {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  padding-top: 17px;
}

.private-realestate__selection.realestate__about .form-container {
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
}
.private-realestate__selection.realestate__about .form-container .form__section-name {
  font-weight: 500;
  font-size: 16.8px;
  color: #333333;
}
.private-realestate__selection.realestate__about .form-container .form-field {
  display: flex;
  row-gap: 10px;
  margin: 20px 0;
}
.private-realestate__selection.realestate__about .form-container .form-field .form-field__label,
.private-realestate__selection.realestate__about .form-container .form-field .form-field__title__label {
  font-size: 14px;
}
.private-realestate__selection.realestate__about .form-container .form-field.radio {
  flex-direction: column;
  width: 100%;
}
.private-realestate__selection.realestate__about .form-container .form-field.radio .form-field__radio-options {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px;
  width: 200px;
}
.private-realestate__selection.realestate__about .form-container .form-field.radio .form-field__radio-options .form-field__radio-option {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #ccc;
}
.private-realestate__selection.realestate__about .form-container .form-field.radio .form-field__radio-options .form-field__radio-option input {
  display: none;
  pointer-events: none;
}
.private-realestate__selection.realestate__about .form-container .form-field.radio .form-field__radio-options .form-field__radio-option label {
  text-align: center;
  color: #363636;
  pointer-events: none;
}
.private-realestate__selection.realestate__about .form-container .form-field.radio .form-field__radio-options .form-field__radio-option:last-child {
  border: none;
}
.private-realestate__selection.realestate__about .form-container .form-field.radio .form-field__radio-options .form-field__radio-option:hover label {
  color: #ff7100;
}
.private-realestate__selection.realestate__about .form-container .form-field.radio .form-field__radio-options .form-field__radio-option.selected {
  background: #e9e9e9;
}
.private-realestate__selection.realestate__about .form-container .form-field.radio .form-field__radio-options .form-field__radio-option.selected:hover {
  background: #ccc;
}
.private-realestate__selection.realestate__about .form-container .form-field.radio .form-field__radio-options .form-field__radio-option.selected:hover label {
  color: #363636;
}
.private-realestate__selection.realestate__about .form-container .form-field.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 600px;
  row-gap: 10px;
}
.private-realestate__selection.realestate__about .form-container .form-field.features .feature-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 36px;
  width: 140px;
  border: 1px solid #ccc;
  border-radius: 17px;
  cursor: pointer;
  padding-right: 10px;
}
.private-realestate__selection.realestate__about .form-container .form-field.features .feature-container.checked {
  background: #ccc;
}
.private-realestate__selection.realestate__about .form-container .form-field.features .feature-container svg {
  pointer-events: none;
}
.private-realestate__selection.realestate__about .form-container .form-field.features .feature-container input {
  display: none;
  pointer-events: none;
}
.private-realestate__selection.realestate__about .form-container .form-field.features .feature-container label {
  padding-right: 5px;
  pointer-events: none;
}
.private-realestate__selection.realestate__about .form-container .form-field.text-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.private-realestate__selection.realestate__about .form-container .form-field.text-area .form-field__title {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.private-realestate__selection.realestate__about .form-container .form-field.text-area textarea {
  width: 50% !important;
  height: 156px !important;
  padding: 16px 10px 20px 70px;
  resize: none;
  font-size: 16px;
}
.private-realestate__selection.realestate__about .form-container .form-field.select {
  flex-direction: column;
  width: 25%;
}
.private-realestate__selection.realestate__about .form-container .form-field.select .form-field__select {
  height: 42px;
  font-size: 14px;
}
.private-realestate__selection.realestate__about .private-realestate__selection__form-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.private-realestate__selection.realestate__about .private-realestate__selection__form-modal.show {
  display: flex;
}
.private-realestate__selection.realestate__about .private-realestate__selection__form-modal .private-realestate__selection__form-modal__content {
  width: 90%;
  max-width: 425px;
  min-width: 350px;
  background: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 30px;
  row-gap: 10px;
  position: relative;
}
.private-realestate__selection.realestate__about .private-realestate__selection__form-modal .private-realestate__selection__form-modal__content .private-realestate__selection__form-modal__content__close {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  left: 10px;
  cursor: pointer;
}
.private-realestate__selection.realestate__about .private-realestate__selection__form-modal .private-realestate__selection__form-modal__content .private-realestate__selection__form-modal__content__title {
  font-size: 20px;
  color: #363636;
  font-weight: 500;
}
.private-realestate__selection.realestate__about .private-realestate__selection__form-modal .private-realestate__selection__form-modal__content .private-realestate__selection__form-modal__content__subtitle {
  font-size: 16px;
  color: #363636;
}
.private-realestate__selection.realestate__about .private-realestate__selection__form-modal .private-realestate__selection__form-modal__content .private-realestate__selection__form-modal__content__input {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.private-realestate__selection.realestate__about .private-realestate__selection__form-modal .private-realestate__selection__form-modal__content .private-realestate__selection__form-modal__content__input .private-realestate__selection__form-modal__content__input__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.private-realestate__selection.realestate__about .private-realestate__selection__form-modal .private-realestate__selection__form-modal__content .private-realestate__selection__form-modal__content__input textarea {
  width: 100%;
  padding: 16px 10px 20px;
  height: 214px;
  font-size: 16px;
}
.private-realestate__selection.realestate__about .private-realestate__selection__form-modal .private-realestate__selection__form-modal__content .private-realestate__selection__form-modal__content__buttons {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.private-realestate__selection.realestate__about .private-realestate__selection__form-modal .private-realestate__selection__form-modal__content .private-realestate__selection__form-modal__content__buttons .private-realestate__selection__form-modal__content__buttons__submit {
  width: 221px;
  height: 46px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  background: #ff7100;
  border: none;
  border-radius: 4px;
}
.private-realestate__selection.realestate__about .private-realestate__selection__form-modal .private-realestate__selection__form-modal__content .private-realestate__selection__form-modal__content__buttons .private-realestate__selection__form-modal__content__buttons__continue {
  width: 106px;
  height: 46px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  background: #bfbebe;
  border: none;
  border-radius: 4px;
}

.page-not-found__content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  flex-grow: 1;
}
.page-not-found__content-container .page-not-found__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-not-found__content-container .page-not-found__text .page-not-found__text__title {
  font-size: 24px;
  font-weight: 500;
  color: #363636;
}
.page-not-found__content-container .page-not-found__text .page-not-found__text__subtitle {
  font-size: 18px;
  color: #363636;
}
.page-not-found__content-container .page-not-found__button {
  width: 186px;
  border: none;
  border-radius: 4px;
  background: #ff7100;
  padding: 0.8em 1em;
  margin: 30px 0 0;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.page-not-found__status {
  padding-bottom: 15px;
  font-size: 18px;
  color: #999999;
}
